<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kayako.sample">

    <!-- TODO: Update the permissions in documentation -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add the following activities to use the SDK -->
        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoHelpCenterActivity"
            android:theme="@style/HelpCenterTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoSearchArticleActivity"
            android:launchMode="singleTask"
            android:theme="@style/Ko__SearchArticlePageTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoArticleActivity"
            android:theme="@style/HelpCenterTheme" />

        <!--TODO: Figure out the theming -->
        <!--TODO: Document the activities -->

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoConversationListActivity"
            android:theme="@style/Ko__MessengerTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoSelectConversationActivity"
            android:theme="@style/Ko__MessengerTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoMessengerActivity"
            android:theme="@style/Ko__MessengerTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoAttachmentPreviewActivity"
            android:theme="@style/Ko__MessengerTheme" />

    </application>

</manifest>