<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sampleapp.myapplication">

    <!---->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MySampleApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add the following activities - Kayako -->
        <!-- Helpcenter Activities -->
        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoHelpCenterActivity"
            android:theme="@style/HelpCenterTheme" />
        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoSearchArticleActivity"
            android:launchMode="singleTask"
            android:theme="@style/Ko__SearchArticlePageTheme"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoArticleActivity"
            android:theme="@style/HelpCenterTheme" />

        <!-- Messenger Activities -->
        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoConversationListActivity"
            android:theme="@style/MessengerTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoSelectConversationActivity"
            android:theme="@style/MessengerTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoMessengerActivity"
            android:theme="@style/MessengerTheme" />

        <activity
            android:name="com.kayako.sdk.android.k5.activities.KayakoAttachmentPreviewActivity"
            android:theme="@style/MessengerTheme" />

    </application>

</manifest>